./data
./.idea
.idea/dataSources.xml
.idea/golinter.xml
.idea/indexer.iml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml
others/pyembeddings/.idea/misc.xml
others/pyembeddings/.idea/modules.xml
others/pyembeddings/.idea/pyembeddings.iml
others/pyembeddings/.idea/vcs.xml
others/pyembeddings/.idea/inspectionProfiles/profiles_settings.xml
others/pyembeddings/.idea/inspectionProfiles/Project_Default.xml
others/pyembeddings/__pycache__/embeddings_service.cpython-310.pyc
others/pyembeddings/__pycache__/embeddings_service.cpython-311.pyc
others/pyembeddings/__pycache__/main.cpython-310.pyc
others/pyembeddings/__pycache__/main.cpython-311.pyc
others/pyembeddings/__pycache__/embeddings_service.cpython-311.pyc
