version: "3.8"
services:
  qdrant:
    image: docker.io/qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
  postgres:
    image: docker.io/postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
  meilisearch:
    image: docker.io/getmeili/meilisearch:v1.12
    environment:
      - MEILI_MASTER_KEY=tFWSre9Ix9Ltq7nXV87c9O5UP
    ports:
      - "7700:7700"
